---
version: "2.1"
services:
  registry_service:
    container_name: "docker-registry"
    restart: unless-stopped
    image: "registry:2"
    volumes:
      - "{{ all_registry__project_dir }}/certs:/certs:ro"
      - "{{ all_registry__project_dir }}/storage:/var/lib/registry"
    environment:
      - "REGISTRY_HTTP_TLS_CERTIFICATE=/certs/{{ all_registry__domain }}.crt"
      - "REGISTRY_HTTP_TLS_KEY=/certs/{{ all_registry__domain }}.key"
    ports:
      - 443:5000
