global_defs 
{
    enable_script_security
}

vrrp_script haproxy-check {
    script "/usr/bin/systemctl is-active --quiet haproxy"
    interval 2
    weight 20
}

vrrp_instance haproxy-vip {
    state BACKUP
    priority 101
    interface {{ hostvars[inventory_hostname].ansible_eth1.device }}
    virtual_router_id 47
    advert_int 3

    unicast_src_ip {{ hostvars[inventory_hostname].ipv4address }}
    unicast_peer {
{% for host in groups['masternodes'] %}
{% if hostvars[host].ipv4address != hostvars[host] %}
        {{ hostvars[host].ipv4address }}
{% endif %}
{% endfor %}
    }

    virtual_ipaddress {
        {{ all_kubernetes__kubeapi_vip }} 
    }

    track_script {
        haproxy-check weight 20
    }
}
