---
apiVersion: kubeadm.k8s.io/v1beta2
kind: JoinConfiguration
caCertPath: /etc/kubernetes/pki/ca.crt
discovery:
  bootstrapToken:
    apiServerEndpoint: {{ kubevip}}:{{ kubevip_port}}
    token {{ toke }}
    caCertHashes:
      - "{{ hash }}"
    timeout: 5m0s
    tlsBootstrapToken: {{ token}}
nodeRegistration:
  criSocket: unix:///run/containerd/containerd.sock
  taints: null
controlPlane:
  localAPIEndpoint:
    advertiseAddress: {{ ansible_default_ipv4.}}
